body {
  background: #f5f3ef;
  font-family: Arial, sans-serif;
  color: #222;
  margin: 40px auto;
  padding: 0 25px;
  max-width: 900px;
}

header h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 5px;
}

header p {
  margin-top: 0;
  font-size: 14px;
}

header u {
  color: black;
  text-decoration: underline;
}

.featured {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 25px;
}

.featured h2 {
  color: #c7352a;
  margin: 0 0 8px 0;
}

.featured h3 {
  margin: 0 0 10px 0;
}

.featured p {
  font-size: 15px;
  margin: 0;
}

a {
  color: #c7352a;
  text-decoration: underline;
}

.posts {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 15px;
}

.post h3 {
    color: #c7352a;
    margin: 0;
}

.post .meta {
    font-size: 14px;
    margin: 3px 0;
}

.post p {
    margin: 0;
  font-size: 14px;
}

hr {
  border: none;
  border-bottom: 1px solid #eee;
  margin: 14px 0;
}

.blogroll {
  margin-top: 25px;
}

.blogroll h4 {
  color: #c7352a;
  font-size: 18px;
  margin-bottom: 10px;
}

.blogroll ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 250px;
}

.blogroll li {
  border-bottom: 1px solid #eee;
  padding: 6px 0;
}

.footer-card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  gap: 30px;
  margin-top: 25px;
}

.footer-card .left h4 {
  color: #c7352a;
  margin: 0 0 5px 0;
}

.footer-card .left p {
  margin: 0;
  font-size: 13px;
}

.footer-card .right p {
  margin: 0;
  margin-left: 40px;
  font-size: 13px;
}

.copyright {
  text-align: right;
  font-size: 14px;
  margin-top: 10px;
}
