* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f8f9fb;
    color: #222;
    line-height: 1.6;
}

#main-header {
  background: #f1f3f5;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
}

#main-header h1 {
  color: pink;
  font-size: 1.8rem;
  font-weight: 700;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #333;
}

nav ul li a.active,
nav ul li a:hover {
  color: lightpink;
}

main {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
  overflow: hidden; 
}

.products {
  width: 70%;
  float: left;
}

.products h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

.product {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.product img {
  width: 140px;
  margin-bottom: 10px;
}

.product h3 {
  margin: 10px 0 5px;
  font-size: 17px;
  font-weight: bold;
}

.product .description {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}

.product .price {
  color: blue;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.product.featured {
  background-color: lightblue;
  border: 1px solid lightcyan;
  border-left-width: 5px;
  border-left-color: blue;
}

.product:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.product:last-child button{
    background-color: grey;
}

.btn-primary, .btn-secondary {
  background-color: #7690ab;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.btn-primary:hover, .btn-secondary:hover {
  background-color: #1845b0;
}

#sidebar {
  width: 28%;
  float: right;
  background-color: #f8f9fc;
  border-radius: 20px;
  padding: 20px;
}

#sidebar h3 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

#sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#sidebar ul li {
  border-bottom: 1px solid rgb(220, 216, 216);
}

#sidebar ul li a {
  color: black;
  text-decoration: none;
  padding: 5 0;
}

#sidebar ul li:last-child {
  border-bottom: none;
}

footer {
  clear: both;
  background-color: #141c2e;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  margin-top: 50px;
}
