* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header,main,footer {
  float: left;
  width: 100%;
}
#main-header {
  background: #e7e7e7;
  padding: 20px;
  margin-bottom: 20px;
}
#main-header li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
#main-header a { 
  color: gray;
}
.nav-link.active {
  color: blue !important;
  font-weight: bold;
}
#main-header h1 {
  margin-bottom: 20px;
}
.logo {
  float: left;
  clear: both;
  font-size: 80px;
  font-weight: bold;
}
.nav-list {
  float: left;
  width: 100%;
  list-style-type: none;
}

.nav-list li {
  float: left;
}

.products,#sidebar {
  float: left;
}

main {
  padding-left: 15%;
  padding-right   : 15%;
}
.products {
  width: 80%;
  padding-right: 20px;
}
#sidebar {
  width: 20%;
}

.product {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  padding:20px;
  border: 4px solid #cecece;
  border-radius: 8px;
  border-left-width: 6px;
  border-left-color: cornflowerblue;
}

.product img,
.product h3,
.product p {
  margin-bottom: 15px;
}

.product p {
  color: gray;
}
.product .price { 
  color: green;
  font-size: 22px;
  font-weight: bold;
}
.product button{
  color: #fff;
  background: cornflowerblue;
  padding: 10px;
  font-weight: bold;
  border: 0;
  border-radius: 6px;
}

.product.featured { 
  background: #ffffd9;
  border-color:#d5d5b0;
  border-left-color: cornflowerblue;
}

.product.featured button {
  font-size: 20px;
}

.product:last-child {
  border-left-width: 4px;
  border-left-color: #cecece;
}
.product:last-child button {
  background-color: #fff;
  color: cornflowerblue;
  border:2px solid cornflowerblue;
}

.products h2 {
  margin-bottom: 20px;
}

#sidebar {
  background: #fff7f7;
  padding: 20px;
  border-radius: 8px
}
#sidebar h3 {
  margin-bottom: 15px;
}

#sidebar a {
  text-decoration: none;
  color: gray;
  padding: 5px 0;
  float: left;
  width: 100%;
  border-bottom: 1px solid black;
}

#sidebar a:hover {
  padding-left: 5px;
}

footer {
 background: black;
 color: white;
 font-size: 20px;
 padding:20px;
 text-align: center;
 margin-top: 40px;
}